.App {
  text-align: center;
  font-family: sans-serif;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
}

/*.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/

.container-outer {
  padding: 0;
}

/* Button */

.button {
  position:relative;
  vertical-align: middle;
  color: #367696;
  font-family: sans-serif;
  font-weight: 100;
  font-size: 14px;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  text-align: center;
  transition: 0.5s;
  padding: 0 20px;
  cursor: pointer;
  border: 2px solid #367696;
  -webkit-transition:0.5s;
}

.button:hover {
  border: 2px solid rgba(48,166,230,1);
  color: #30A6E6;
}

.button::before, .button::after {
  width: 100%;
  height:100%;
  z-index: 3;
  content:'';
  position: absolute;
  top:0;
  left:0;
  box-sizing: border-box;
  -webkit-transform: scale(0);
  transition: 0.5s;
}

.button::before {
  border-bottom: 2px solid #30A6E6;
  border-left: 2px solid #30A6E6;
  -webkit-transform-origin: 0 100%;
}

.button::after {
  border-top: 2px solid #30A6E6;
  border-right: 2px solid #30A6E6;
  -webkit-transform-origin: 100% 0%;
}

.button:hover::after, .button:hover::before {
  -webkit-transform: scale(1);
}

.button a {
  text-decoration: none;
  display: block;
  transition: 0.5s;
}

.button a:hover {
  color: #30A6E6;
}

/* Navbar */

#mainnav {
  height: 60px;
  font: bold 20px sans-serif;
  background-color: #295971;
  background-image: none;
  background-repeat: no-repeat;
  border-bottom: none;
}

.navbar-brand {
  line-height: 60px;
  padding-top: 0;
}

.active {
  text-decoration: underline;
}

.nav li a {
  line-height: 60px;
  padding-top: 0;
  font-size: 16px;
  font-weight: bold !important;
  color: #fff !important;
  margin: 0 15px 0 15px;
}

.nav a:hover {
  color: #8c8c8c !important;
  text-decoration: none;
}


.navbar-nav {
  text-align: center;
}


.nav-logo {
  height: 56px;
}

/* Home Page */

.container-home {
  height: 100vh;
  margin-bottom: 50vh;
  padding: 0;
}

.container-home-info {
  width: 80vw;
  margin-top: 50px;
}

.home-header {
  background-color: #295971;
  height: 400px;
  width: 100%;
}

.home-logo {
  margin-top: 100px;
  height: 250px;
}

.home-header i {
  margin-top: 150px;
  background-color: #33383b;
  color: #ffffff;
  font-size: 48px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  line-height: 64px;
  vertical-align: middle;
}

.home-header p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 150px 0 0 15px;
  font: bold 28px sans-serif;
}

.home-header p span {
  display: block;
  line-height: 2;
}

.fax-number {
  font-weight: normal !important;
}

/*.home-banner {
  background-image: url("http://wallstdentalspanyc.com/wp-content/uploads/section-dental-chair1-1500x500.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-clip: padding-box;
  height: 500px;
  width: 100%;
}

.home-banner h1 {
  text-align: center;
  line-height: 300px;
  font-size: 5em;
  color: #fff;
  display: inline-block;
}*/

.home-pic {
  position: relative;
  height: 500px;
  width: 100%;
  filter: brightness(60%);
}

.container-home-info h1 {
  font: 48px sans-serif;
}

.container-home-info p {
  text-align: center;
  font: 16px sans-serif;
}

.hr-home {
  border: none;
  height: 2px;
  background-color: #295971;
  margin-top: 10px;
  width: 100%;
}

.home-gallery {
  margin-top: 100px;
}

/* Dentists section */

.container-dentists {
  padding: 0;
}

.container-dentists-info {
  width: 80vw;
  margin-top: 10vh;
  margin-bottom: 10vh;
  font-size: 16px
}

.page-header {
  background-color: #295971;
  width: 100%;
  height: 200px;
}

.page-header h1 {
  line-height: 200px;
  color: #fff;
  text-align: left;
  margin-left: 10vw;
}

.dentists-section-left {
  text-align: left;
}

.dentists-section-right {
  text-align: right;
}

.dentists-section-right h4 {
  text-align: right;
}

.dentists-section-right p {
  text-align: right;
}

.dentist-hr-left {
    margin-left: 0;
    text-align: left;
    border: 0;
    height: 1px;
    width: 20%;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.dentist-hr-right {
    margin-right: 0;
    text-align: right;
    border: 0;
    height: 1px;
    width: 20%;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

/* Services section */

.container-services {
  width: 80vw;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.services-menu ul, .services-menu li {
  margin: 0;
  padding: 0;
}

.services-menu ul {
  background: gray;
  list-style: none;
  width: 100%;
}

.services-menu li {
  float: left;
  position: relative;
  width: auto;
  overflow: hidden;
  border-right: 1px solid #000;
}

.services-menu a {
  background: #367696;
  color: #FFFFFF;
  display: block;
  height: 65px;
  font: 14px sans-serif;
  padding: 15px 20px 10px 20px;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}

.services-menu a:hover {
  background: #30A6E6;
}

/*.services-menu {
  background-color: #295971;
  text-align: center;
  padding: 10px;
  vertical-align: middle;
  -webkit-box-shadow: 0px 0px 10px 5px rgba(41,89,113,1);
  -moz-box-shadow: 0px 0px 10px 5px rgba(41,89,113,1);
  box-shadow: 0px 0px 10px 5px rgba(41,89,113,1);
}

.col-md-1 {
  top: 50%;
}

.services-menu a {
  color: #fff;
}

.services-menu a:hover {
  text-decoration: none;
  color: #8c8c8c;
}*/

.hr-services {
  border: none;
  height: 2px;
  background-color: #295971;
  margin-left: 0;
  margin-top: 4px;
  width: 50%;
}

.services-section {
  margin-top: 5vh;
  width: 80vw;
}

.services-section:before { /* Makes the jump links not collide with the navbar */
  display: block; 
  content: " "; 
  margin-top: -75px; 
  height: 75px; 
  visibility: hidden; 
}

.services-section a {
  display: block;
}

.services-section h3,p,a {
  text-align: left;
}

.img-left {
  display: block;
  float: left;
}

.img-right {
  display: block;
  float: right;
}

/* Patient Info section */

.container-patient {
  width: 80vw;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.patient-section {
  text-align: left;
}

.hr-short {
  text-align: center;
  border: none;
  height: 2px;
  background-color: #295971;
  margin-left: 0;
  margin-top: 4px;
  width: 20%;
}

/* Contact section */

.container-contact {
  padding: 0;
}

.container-contact-top {
  width: 80vw;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.container-contact-top p,li {
  font: 16px sans-serif;
}

.contact-hours ul {
  padding: 0;
}

.contact-hours li {
  text-align: left;
  list-style-type: none;
  margin-bottom: 7px;
}

.container-contact-top h3,h4 {
  text-align: left;
}

.form-group {
  text-align: left;
}

.btn-send {
  background-color: #295971;
  color: #fff;
  transition: all 0.2s ease-in-out;
}

.btn-send:hover {
  background-color: #69a9c9;
}

.map-overlay {
  background: transparent; 
  position: relative; 
  width: 100%;
  height: 500px; /* iframe height */
  top: 500px;  /* iframe height */
  margin-top: -500px;  /* iframe height */
}

/* Footer */

.footer-distributed {
  background-color: #295971;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
/*  margin-top: 80px;*/
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}


/* Footer left */

.footer-distributed .footer-left {
  width: 40%;
}


/* The company logo */

.footer-distributed h3 {
  color: #ffffff;
  margin: 0;
}

.footer-logo img {
  height: 140px;
}

.footer-distributed h3 span {
  color: #5383d3;
}


/* Footer links */

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
  margin: 0 10px 0 10px;
}

.footer-links a:hover {
  color: #8c8c8c;
}

.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0 0 0 10px;
}


/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: bold;
  font-size: 16px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: #5383d3;
  text-decoration: none;
  ;
}

.footer-phone {
  margin-top: 10px !important;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 20%;
}

/*.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}*/

.footer-hours h3 {
  text-align: center;
  font: bold 20px sans-serif;
  margin-bottom: 15px;
}

.footer-hours li {
  font: normal 16px sans-serif;
  list-style-type: none;
  color: #fff;
  margin-top: 5px;
}

.footer-hours hr {
  height: 1px;
  width: 75%;
  text-align: center;
  margin: 7px 0 7px 0 auto; 
}

.clinic-hours {
  width: 300px;
}

.hours-day {
  color: #999999;
  text-align: left;
}

.hours-time {
  float: right;
}


/* responsive media queries */

@media (max-width: 880px) {
  .footer-distributed {
    font: bold 14px sans-serif;
  }
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}

